{% extends "base.html" %}
{% load form_extras %}
{% block title %}Set New Password{% endblock %}

{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-md-4">

        <div class="gamerbay-card p-4">

            <h2 class="fw-bold mb-4 text-center text-white">Set New Password</h2>

            <form method="post">
                {% csrf_token %}

                <!-- New Password -->
                <div class="mb-3">
                    <label class="form-label text-light">New Password</label>
                    {{ form.new_password1|add_class:"form-control gamerbay-input" }}
                </div>

                <!-- Confirm Password -->
                <div class="mb-3">
                    <label class="form-label text-light">Confirm Password</label>
                    {{ form.new_password2|add_class:"form-control gamerbay-input" }}
                </div>

                <button type="submit" class="btn gamerbay-btn-primary w-100 mt-3">
                    Save New Password
                </button>
            </form>

        </div>

    </div>
</div>

{% endblock %}
